<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:apollo="http://www.ctrip.com/schema/apollo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.ctrip.com/schema/apollo http://www.ctrip.com/schema/apollo.xsd">


    <apollo:config/>

    <bean id="testApp" class="com.apollo.demo.spring.config.ApolloConfig.TestApp">
        <property name="host" value="${redis.host:127.0.0.1}"/>
    </bean>


</beans>